* {
    text-align: center;
}
.goalLetter4 {
    color: blue;
    float: left;
    width: 25%
}
.goalLetter5 {
    color: green;
    float: left;
    width: 20%
}
.goalLetter6 {
    color: orangered;
    float: left;
    width: 16.6%
}
.goalLetter7 {
    color: purple;
    float: left;
    width: 14.285%
}
.goalLetter8 {
    color: grey;
    float: left;
    width: 12.5%
}
.goalLetter9 {
    color: black;
    float: left;
    width: .11%
}
#hangmanBox {
    background-color: whitesmoke;
    position: relative;
    height: 40px;
    width: 50%;
    text-align: center;
    margin: 0 auto;

}