* {
    text-align: center;
}
.goalLetter4 {
    color: blue;
    float: left;
    width: 25%;
    margin-top: 1rem;
}
.goalLetter5 {
    color: green;
    float: left;
    width: 20%;
    margin-top: 1rem;
}
.goalLetter6 {
    color: orangered;
    float: left;
    width: 16.6%;
    margin-top: 1rem;
}
.goalLetter7 {
    color: purple;
    float: left;
    width: 14.285%;
    margin-top: 1rem;
}
.goalLetter8 {
    color: grey;
    float: left;
    width: 12.5%;
    margin-top: 1rem;
}
.goalLetter9 {
    color: black;
    float: left;
    width: 11%;
    margin-top: 1rem;
}
.goalLetter10 {
    color: yellowgreen;
    float: left;
    width: 10%;
    margin-top: 1rem;
}
.goalLetter11 {
    color: rosybrown;
    float: left;
    width: 9%;
    margin-top: 1rem;
}

#hangmanBox {
    background-color: whitesmoke;
    position: relative;
    height: 40px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.headStart {
    display: none;
    width: 100%;
}
